
# --------------------------------------------------------------
#  BANCO DE DADOS
#  POSTGRES_USER e POSTGRES_PASSWORD são usados pelo Docker para
#  criar o banco na primeira vez que você rodar "docker compose up".
#  DATABASE_URL deve usar os mesmos valores de USER e PASSWORD.
# --------------------------------------------------------------

POSTGRES_USER=ffxiv #altere se desejar
POSTGRES_PASSWORD=sua_senha_aqui #coloque sua senha aqui
POSTGRES_DB=ffxiv_market #altere se desejar

# A senha abaixo DEVE ser igual ao POSTGRES_PASSWORD acima
DATABASE_URL=postgresql://ffxiv:sua_senha_aqui@localhost:5433/ffxiv_market


# --------------------------------------------------------------
#  CONFIGURAÇÃO DO ETL
# --------------------------------------------------------------

WORLD=Behemoth #altere para o servidor desejado. Ex: Behemoth, Famfrit, Hyperion,...
ETL_INTERVAL_HOURS=1 #intervalo de tempo em horas que o processo de ETL vai rodar
RETENTION_DAYS=60 #tempo maximo em dias que um dado fica armazenado no banco a partir da data da sua coleta


# --------------------------------------------------------------
#  PERFORMANCE
#  Número máximo de requisições simultâneas à API da Universalis.
#  entre 5-20 é seguro. Aumentar mais do que isso pode causar rate-limit.
# --------------------------------------------------------------

API_CONCURRENCY=5